.untitled-page.main {
  display: flex;
  flex-direction: column;
  background-color: #ffe0e0;
  overflow: hidden;
}
.untitled-page .section1 {
  position: relative;
  display: flex;
  flex-direction: column;
}
.untitled-page .group {
  position: absolute;
  top: 0px;
  left: -19px;
  display: flex;
  flex-direction: column;
  width: 1461px;
  height: 571px;
}
.untitled-page .group1 {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  width: 1461px;
  height: 571px;
}
.untitled-page .decorator {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1461px;
  height: 571px;
}
.untitled-page .hero_title1 {
  position: absolute;
  top: 305px;
  left: 60px;
  width: 1306px;
  height: 69px;
  font: 400 43px/1.6 "Jomolhari", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .hero_title {
  position: absolute;
  top: 167px;
  left: 60px;
  width: 427px;
  height: 138px;
  font: 400 43px/1.6 "Jomolhari", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .rect {
  position: absolute;
  top: 32px;
  left: 19px;
  width: 1461px;
  height: 78px;
  background-color: rgba(217, 217, 217, 0.4);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
}
.untitled-page .section11 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 449px 0px 85px 9.16%;
  width: 117px;
  background-color: #ff5160;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
}
.untitled-page .highlight {
  margin: 16px 12px 18px 11px;
  font: 400 15px/1.6 "Jomolhari", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .section2 {
  display: flex;
  flex-direction: column;
}
.untitled-page .section21 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 75px 96px 100px 82px;
  width: 1186px;
  height: 408px;
  min-height: 408px;
}
.untitled-page .flex_row {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  width: 1186px;
  height: 408px;
}
.untitled-page .title1 {
  width: 781px;
  font: 400 32px/1.59 "Jomolhari", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .image1 {
  width: 328px;
  border-radius: 157px 157px 157px 157px;
}
.untitled-page .title2 {
  position: absolute;
  bottom: 0px;
  left: 62px;
  width: 308px;
  height: 51px;
  font: 400 32px/1.59 "Jomolhari", Helvetica, Arial, serif;
  color: #f10000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2470588235);
}
.untitled-page .title21 {
  position: absolute;
  top: 153px;
  left: 208px;
  width: 250px;
  height: 51px;
  font: 400 32px/1.59 "Jomolhari", Helvetica, Arial, serif;
  color: #f10000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2470588235);
}
.untitled-page .section3 {
  display: flex;
  flex-direction: column;
}
.untitled-page .section31 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 75px 2px 93px 0px;
  width: 1362px;
  height: 712px;
  min-height: 712px;
}
.untitled-page .flex_col {
  position: absolute;
  top: 0px;
  right: 454px;
  bottom: 619px;
  left: 457px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px 0px;
  width: 451px;
  height: 93px;
}
.untitled-page .medium_title1 {
  
  font: 700 27px/1.44 "Jost", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .medium_title2 {
  font: 400 24px/1.58 "Jomolhari", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .rect4 {
  position: absolute;
  top: 139px;
  left: 0px;
  width: 1362px;
  height: 573px;
  background-color: white;
}
.untitled-page .flex_row1 {
  position: absolute;
  top: 175px;
  left: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  width: 1219px;
  height: 527px;
}
.untitled-page .content_box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 342px;
  min-height: 527px;
}
.untitled-page .image3 {
  position: absolute;
  top: 36px;
  right: 0px;
  bottom: 184px;
  left: 8px;
  width: 334px;
  height: 307px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.247));
}
.untitled-page .highlight2 {
  position: absolute;
  top: 360px;
  right: 80px;
  bottom: 142px;
  left: 71px;
  width: 191px;
  height: 25px;
  font: 700 17px/1.47 "Jost", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .desc {
  position: absolute;
  top: 394px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  width: 342px;
  height: 133px;
  font: 400 12px/1.58 "Jomolhari", Helvetica, Arial, serif;
  color: black;
  text-align: center;
}
.untitled-page .image5 {
  position: absolute;
  top: 0px;
  right: 203px;
  bottom: 508px;
  left: 121px;
  width: 18px;
  height: 19px;
}
.untitled-page .image51 {
  position: absolute;
  top: 0px;
  right: 185px;
  bottom: 508px;
  left: 139px;
  width: 18px;
  height: 19px;
}
.untitled-page .image52 {
  position: absolute;
  top: 0px;
  right: 167px;
  bottom: 508px;
  left: 157px;
  width: 18px;
  height: 19px;
}
.untitled-page .image53 {
  position: absolute;
  top: 0px;
  left: 175px;
  width: 18px;
  height: 19px;
}
.untitled-page .image54 {
  position: absolute;
  top: 0px;
  left: 193px;
  width: 18px;
  height: 19px;
}
.untitled-page .content_box1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 342px;
  min-height: 508px;
}
.untitled-page .image31 {
  position: absolute;
  top: 36px;
  right: 4px;
  bottom: 165px;
  left: 4px;
  width: 334px;
  height: 307px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.247));
}
.untitled-page .highlight21 {
  position: absolute;
  top: 365px;
  right: 81px;
  bottom: 118px;
  left: 76px;
  width: 185px;
  height: 25px;
  font: 700 17px/1.47 "Jost", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .desc1 {
  position: absolute;
  top: 394px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  width: 342px;
  height: 114px;
  font: 400 12px/1.58 "Jomolhari", Helvetica, Arial, serif;
  color: black;
  text-align: center;
}
.untitled-page .image55 {
  position: absolute;
  top: 0px;
  right: 198px;
  bottom: 489px;
  left: 126px;
  width: 18px;
  height: 19px;
}
.untitled-page .image56 {
  position: absolute;
  top: 0px;
  right: 180px;
  bottom: 489px;
  left: 144px;
  width: 18px;
  height: 19px;
}
.untitled-page .image57 {
  position: absolute;
  top: 0px;
  right: 162px;
  bottom: 489px;
  left: 162px;
  width: 18px;
  height: 19px;
}
.untitled-page .image58 {
  position: absolute;
  top: 0px;
  left: 180px;
  width: 18px;
  height: 19px;
}
.untitled-page .image59 {
  position: absolute;
  top: 0px;
  left: 198px;
  width: 18px;
  height: 19px;
}
.untitled-page .content_box2 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 351px;
  min-height: 496px;
}
.untitled-page .image4 {
  position: absolute;
  top: 36px;
  right: 7px;
  bottom: 153px;
  left: 0px;
  width: 344px;
  height: 307px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.247));
}
.untitled-page .highlight22 {
  position: absolute;
  top: 360px;
  right: 75px;
  bottom: 111px;
  left: 79px;
  width: 197px;
  height: 25px;
  font: 700 17px/1.47 "Jost", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .desc2 {
  position: absolute;
  top: 401px;
  right: 0px;
  bottom: 0px;
  left: 9px;
  display: flex;
  justify-content: center;
  width: 342px;
  height: 95px;
  font: 400 12px/1.58 "Jomolhari", Helvetica, Arial, serif;
  color: black;
  text-align: center;
}
.untitled-page .image510 {
  position: absolute;
  top: 0px;
  right: 198px;
  bottom: 477px;
  left: 135px;
  width: 18px;
  height: 19px;
}
.untitled-page .image511 {
  position: absolute;
  top: 0px;
  right: 180px;
  bottom: 477px;
  left: 153px;
  width: 18px;
  height: 19px;
}
.untitled-page .image512 {
  position: absolute;
  top: 0px;
  right: 162px;
  bottom: 477px;
  left: 171px;
  width: 18px;
  height: 19px;
}
.untitled-page .image513 {
  position: absolute;
  top: 0px;
  left: 189px;
  width: 18px;
  height: 19px;
}
.untitled-page .image514 {
  position: absolute;
  top: 0px;
  left: 207px;
  width: 18px;
  height: 19px;
}
.untitled-page .section4 {
  position: relative;
  display: flex;
  flex-direction: column;
}
.untitled-page .title {
  position: absolute;
  top: 137px;
  left: 501px;
  display: flex;
  justify-content: center;
  width: 398px;
  height: 480px;
  font: 400 30px/1.6 "Jomolhari", Helvetica, Arial, serif;
  color: black;
  text-align: center;
}
.untitled-page .image2 {
  position: relative;
  margin: 302px 43.62% 328px auto;
  width: 140px;
  border-radius: 66.5px 66.5px 66.5px 66.5px;
}
.untitled-page .decorator1 {
  position: absolute;
  top: 100px;
  right: -358px;
  width: 745px;
  height: 577px;
}
.untitled-page .decorator11 {
  position: absolute;
  top: 100px;
  left: -324px;
  width: 745px;
  height: 577px;
}
.untitled-page .section5 {
  position: relative;
  display: flex;
  flex-direction: column;
}
.untitled-page .subtitle {
  position: absolute;
  top: 102px;
  left: 267px;
  width: 448px;
  height: 96px;
  font: 400 20px/1.6 "Jomolhari", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .content_box3 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 131px 23.09% 391px auto;
  width: 164px;
  background-color: #ffb9b9;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
}
.untitled-page .image6 {
  margin: 16px 34px 7px;
  width: 96px;
  height: 53px;
}
.untitled-page .group2 {
  position: absolute;
  top: 376px;
  left: 0px;
  display: flex;
  flex-direction: column;
  width: 1487px;
  height: 132px;
}
.untitled-page .rect6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1487px;
  height: 132px;
  background-color: #fbf7f7;
}
.untitled-page .content_box4 {
  position: absolute;
  top: 23px;
  left: 124px;
  display: flex;
  flex-direction: column;
  width: 1086px;
  height: 79px;
}
.untitled-page .highlight3 {
  position: absolute;
  top: 0px;
  right: 528px;
  bottom: 7px;
  left: 0px;
  width: 558px;
  height: 72px;
  font: 400 15px/1.6 "Jomolhari", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .highlight31 {
  position: absolute;
  top: 25px;
  right: 393px;
  bottom: 30px;
  left: 558px;
  width: 135px;
  height: 24px;
  font: 400 15px/1.6 "Jomolhari", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .image7 {
  position: absolute;
  top: 7px;
  right: 246px;
  bottom: 0px;
  left: 760px;
  width: 80px;
  height: 72px;
}
.untitled-page .image71 {
  position: absolute;
  top: 7px;
  right: 0px;
  width: 80px;
  height: 72px;
}
.untitled-page .image8 {
  position: absolute;
  top: 7px;
  right: 120px;
  width: 86px;
  height: 72px;
}