<link rel="stylesheet" type="text/css" href="/css/Header.css" />

<div class="header header__group1">
  /*🚩8 Unstructured items require structuring to ensure responsiveness, as code with absolute positioning lacks
  adaptability.❗*/
  <h2 class="header__medium_title">Better Tomorrow</h2>
  <h5 class="header__highlight1">Login</h5>
  <h2 class="header__medium_title1">Better Tomorrow</h2>
  <div class="header__rect2"></div>
  <h5 class="header__highlight">Cadastrar</h5>
  <div class="header__rect3"></div>
  <h5 class="header__highlight2">O que vem na minha BT Bag?</h5>
  <img class="header__image" src="/assets/grocery_basket_illustration_emblem.png" alt="alt text" />
</div>
